.asset {
    display: none;
}

@media screen and (max-width: 767px){
   body{
      background-color: hsl(30, 38%, 92%);
      display: flex;
      justify-content: center;
      align-items: center;
   }
}