* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    background-color: hsl(30, 38%, 92%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 100%;
    max-width: 550px;
    height: 360px;
    display: flex;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image, .description {
    width: 50%;
    height: 100%;
}

.image {
    position: relative;
}

.asset {
    width: 100%;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    object-fit: cover;
}

.imagetext {
    padding: 20px;
}

.imagetext h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 0.616rem;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 600;
    color: hsl(228, 12%, 48%);
    margin-bottom: 10px;
}

.imagetext h2 {
    font-family: "Fraunces", sans-serif;
    font-size: 2rem;
    line-height: 1;
    font-weight: 700;
    margin-bottom: 10px;
}

h3 {
    margin-bottom: 20px;
}

.imagetext .main-h3 {
    font-family: "Montserrat", sans-serif;
    color: hsl(228, 12%, 48%);
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 20px;
}

.links {
    position: absolute;
    left: 53%;
    bottom: 5%;
}

.links a {
    display: inline-block;
    padding: 12px 60px;
    border-radius: 5px;
    background-color: hsl(158, 36%, 37%);
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    margin-left: 10px;
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

.links .cart {
    position: relative;
    top: 2px;
    left: 30%;
    width: 12px;
}

.imagetext .price {
    font-family: "Fraunces", sans-serif;
    font-size: 1.6rem;
    color: hsl(158, 36%, 37%);
    font-weight: 800;
}

.imagetext .strikethrough {
    position: absolute;
    left: 75%;
    bottom: 68px;
    font-size: 0.8rem;
    color:hsl(228, 12%, 48%);
    text-decoration: line-through;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}

.links a:hover {
    background-color: hsl(212, 21%, 14%);
}

.mobile-image {
    display: none;
}

@media screen and (max-width: 767px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .image{
        display: none;
    }

     
    html {
        font-size: 16px;
    }
     
    body {
        background-color: hsl(30, 38%, 92%);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
     
    .container {
        width: 100%;
        max-width: 305px;
        height: 93%;
        background-color: hsl(0, 0%, 100%);
        border-radius: 10px;
        display: inline;
        margin: 0 auto;
        overflow: hidden;
    }
     
    .mobile-image{
        width: 100%;
        display: inline-block;
    }
    
    .mobile-image img{
        width: 100%;
        height: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .description{
        width: 100%;
    }
     
    .imagetext {
        padding: 10px 20px;
        display: inline-block;
    }
     
    .imagetext h1 {
        font-family: "Montserrat", sans-serif;
        font-size: 0.616rem;
        text-transform: uppercase;
        letter-spacing: 5px;
        font-weight: 600;
        color: hsl(228, 12%, 48%);
        margin-bottom: 10px;
    }
     
    .imagetext h2 {
        font-family: "Fraunces", sans-serif;
        font-size: 1.5rem;
        line-height: 1;
        font-weight: 700;
        margin-bottom: 10px;
    }
     
    h3 {
        margin-bottom: 20px;
    }
     
    .imagetext .main-h3 {
        font-family: "Montserrat", sans-serif;
        color: hsl(228, 12%, 48%);
        font-size: 0.8rem;
        font-weight: 600;
        line-height: 20px;
    }
     
    .imagetext .price {
        font-family: "Fraunces", sans-serif;
        font-size: 1.6rem;
        color: hsl(158, 36%, 37%);
        font-weight: 800;
    }
     
    .imagetext .strikethrough {
        position: absolute;
        left: 45%;
        bottom: 77px;
        font-size: 0.8rem;
        color:hsl(228, 12%, 48%);
        text-decoration: line-through;
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
    }
     
    .links {
        position: absolute;
        left: 1%;
        bottom: 5%;
    }
     
    .links a {
        display: inline-block;
        padding: 14px 90px;
        border-radius: 5px;
        background-color: hsl(158, 36%, 37%);
        color: #fff;
        text-decoration: none;
        font-size: 12px;
        font-weight: 700;
        margin-left: 10px;
        font-family: "Montserrat", sans-serif;
        text-align: center;
    }
     
    .links .cart {
        position: relative;
        top: 2px;
        left: 32%;
        width: 14px;
    }
     
}