.asset {
    display: none;
}

@media screen and (max-width: 767px){
   body{
      background-color: hsl(30, 38%, 92%);
      display: flex;
      justify-content: center;
      align-items: center;
   }

   .container{
      max-width: 360px;
      width: 95%;
      height: 95%;
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      border-radius: 10px;
   }

   .mobile-image{
      width: 45%;
      height: 100%;
      display: block;
   }

   .mobile{
      width: 222%;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
   }

   .description{
      width: 50%;
   }
}